.userprofile {
    display: flex;
    gap: 20px;
    padding: 60px;
}

.userprofile__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userprofile__right {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userprofile_profile_top {
    width: 100%;
    height: 160px;
    background: linear-gradient(180deg, #cf166f 0%, rgba(253, 7, 7, 0.5) 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 55px;
}

.userprofile_profile_top>img {
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: -25%;
    left: 35%;
}

.userprofile_profile_bottom_detail_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userprofile_intro_bio {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0.978723px 0.978723px 4.89362px rgba(0, 0, 0, 0.15);
    border-radius: 9.78723px;
}


/* basic details  */

.userprofile_basic_details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0.978723px 0.978723px 4.89362px rgba(0, 0, 0, 0.15);
    border-radius: 9.78723px;
}

.userprofile_basic_details_content_wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.userprofile_basic_details_content {
    display: flex;
    align-items: center;
}

.userprofile_family_details_content>img {
    height: 25px;
    width: 25px;
}


/* food preference  */

.userprofile_food_preference {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0.978723px 0.978723px 4.89362px rgba(0, 0, 0, 0.15);
    border-radius: 9.78723px;
}

.userprofile_food_preference_content_wrapper {
    display: flex;
    gap: 20px;
}

.userprofile_food_preference_content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.userprofile_food_preference_content>img {
    height: 45px;
    width: 45px;
}


/* education  */

.userprofile_education {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0.978723px 0.978723px 4.89362px rgba(0, 0, 0, 0.15);
    border-radius: 9.78723px;
}

.userprofile_education_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userprofile_education_content {
    display: flex;
    gap: 10px;
}


/* family  */

.userprofile_family_details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0.978723px 0.978723px 4.89362px rgba(0, 0, 0, 0.15);
    border-radius: 9.78723px;
}

.userprofile_family_details_content_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.userprofile_family_details_content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.userprofile_family_details_content>div>span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.userprofile_family_details_content>div>p {
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
}


/* matches  */

.userprofile_matches {
    grid-row: 3/7;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 10px;
    box-shadow: 0.978723px 0.978723px 4.89362px rgba(0, 0, 0, 0.15);
    border-radius: 9.78723px;
}

img.userprofile_matches_user,
img.userprofile_matches_me {
    height: 50px;
    width: 50px;
}

.userprofile_matches_profile_images {
    display: flex;
    gap: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
}

img.userprofile_matches_connection {
    position: absolute;
    z-index: -2;
}

.userprofile_matches_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userprofile_matches_description>span {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.userprofile_matches_description>p {
    font-weight: 500;
}

.userprofile_matches_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userprofile_matches_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userprofile_matches_content>img {
    width: 30px;
}

.userprofile_matches_content>p {
    max-width: 80px;
    min-width: 80px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}


/* section heading  */

.userprofile_section_header>h3 {
    font-weight: 600;
    font-size: 21.5319px;
    line-height: 32px;
}

.userprofile_intro_name {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.block_buton {
    position: absolute;
    top: 0;
    right: 0;
}

.block_buton button {
    outline: none;
    border: none;
    background: linear-gradient(rgb(207, 22, 111) 0%, rgba(253, 7, 7, 0.5) 100%);
    border-radius: 20px;
    color: white;
    padding: 7px 15px;
}

.block_buton button:last-child {
    background: linear-gradient(rgb(0, 0, 0) 0%, rgba(16, 15, 15, 0.5) 100%)
}

.userprofile_intro>h2 {
    font-weight: 600;
    font-size: 21.5319px;
    line-height: 22px;
}

.userprofile_intro>p {
    font-weight: 500;
    font-size: 15.5319px;
    line-height: 16px;
}